#hero{
  .content{
    max-width: 450px;
  }
}

.section-header{
  text-align: center;
  margin-bottom: 3rem;
  h2{
    margin-bottom: .5rem;
  }
  span{
    margin-bottom: .5rem;
  }
  .uk-text-lead{
    font-size: 1.25rem;
  }
}

.service{
  border-left: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}